.row
  .col-xs-6
    %h1 My Maps

    =link_to new_map_path do
      %i.fa.fa-plus-square-o{ aria: { hidden: "true" } }
      create a new map >


- if @maps.blank?
  %p You have no saved maps yet.

- @maps.each do |m|
  .row.map_list.clearfix
    .col-xs-12.col-md-6.clearfix
      .col-xs-8=h m.try(:name)
      .col-xs-4=link_to "view and edit >", edit_map_path(m)

