%h1 Maps
- if @maps.blank?
	%p You have no saved maps yet.
	%p
		=link_to "create one now >", new_map_path

.row
	.col-xs-12
		=link_to "create a new map >", new_map_path
- @maps.each do |m|
	.row
		.col-xs-6
			=h m.try(:name)
			%br
			=link_to "view and edit markers >", edit_map_path(m)

